<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OC_ClassName</key>
	<string>School</string>
	<key>boolValue</key>
	<integer>1</integer>
	<key>ch</key>
	<integer>115</integer>
	<key>headmaster</key>
	<dict>
		<key>OC_ClassName</key>
		<string>Teacher</string>
		<key>age</key>
		<integer>129</integer>
		<key>courseName</key>
		<string>courseName99</string>
		<key>iden</key>
		<string>teacherId99</string>
		<key>name</key>
		<string>teacherName99</string>
		<key>studentArray</key>
		<array>
			<dict>
				<key>OC_ClassName</key>
				<string>Student</string>
				<key>age</key>
				<integer>15</integer>
				<key>iden</key>
				<string>studentId0</string>
				<key>name</key>
				<string>studentName0</string>
			</dict>
			<dict>
				<key>OC_ClassName</key>
				<string>Student</string>
				<key>age</key>
				<integer>16</integer>
				<key>iden</key>
				<string>studentId1</string>
				<key>name</key>
				<string>studentName1</string>
			</dict>
		</array>
	</dict>
	<key>schoolDate</key>
	<date>2014-05-13T07:13:57Z</date>
	<key>schoolFloat</key>
	<real>1234.5677490234375</real>
	<key>schoolId</key>
	<string>id0123456</string>
	<key>schoolName</key>
	<string>qinghuadaxue</string>
	<key>schoolNumber</key>
	<integer>6</integer>
	<key>schoolPost</key>
	<integer>123</integer>
	<key>teacherArray</key>
	<array>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>30</integer>
			<key>courseName</key>
			<string>courseName0</string>
			<key>iden</key>
			<string>teacherId0</string>
			<key>name</key>
			<string>teacherName0</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>31</integer>
			<key>courseName</key>
			<string>courseName1</string>
			<key>iden</key>
			<string>teacherId1</string>
			<key>name</key>
			<string>teacherName1</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>32</integer>
			<key>courseName</key>
			<string>courseName2</string>
			<key>iden</key>
			<string>teacherId2</string>
			<key>name</key>
			<string>teacherName2</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>teacherDictionary</key>
	<dict>
		<key>OC_ClassName</key>
		<string>__NSDictionaryM</string>
		<key>key0</key>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>30</integer>
			<key>courseName</key>
			<string>courseName0</string>
			<key>iden</key>
			<string>teacherId0</string>
			<key>name</key>
			<string>teacherName0</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
		<key>key1</key>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>31</integer>
			<key>courseName</key>
			<string>courseName1</string>
			<key>iden</key>
			<string>teacherId1</string>
			<key>name</key>
			<string>teacherName1</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
		<key>key2</key>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>32</integer>
			<key>courseName</key>
			<string>courseName2</string>
			<key>iden</key>
			<string>teacherId2</string>
			<key>name</key>
			<string>teacherName2</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
		<key>key3</key>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>33</integer>
			<key>courseName</key>
			<string>courseName3</string>
			<key>iden</key>
			<string>teacherId3</string>
			<key>name</key>
			<string>teacherName3</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
		<key>key4</key>
		<dict>
			<key>OC_ClassName</key>
			<string>Teacher</string>
			<key>age</key>
			<integer>34</integer>
			<key>courseName</key>
			<string>courseName4</string>
			<key>iden</key>
			<string>teacherId4</string>
			<key>name</key>
			<string>teacherName4</string>
			<key>studentArray</key>
			<array>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>15</integer>
					<key>iden</key>
					<string>studentId0</string>
					<key>name</key>
					<string>studentName0</string>
				</dict>
				<dict>
					<key>OC_ClassName</key>
					<string>Student</string>
					<key>age</key>
					<integer>16</integer>
					<key>iden</key>
					<string>studentId1</string>
					<key>name</key>
					<string>studentName1</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
